---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import Blogpost from "../components/Blogpost.astro";

const pageTitle = "BLOG";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <h2>Mi primer blog</h2>
      <p>
        Netlify es una plataforma de desarrollo web que ofrece servicios de
        alojamiento y backend sin servidor para aplicaciones web y sitios
        est치ticos. Esta plataforma se centra en la facilidad de uso, la
        automatizaci칩n y la integraci칩n con herramientas de desarrollo, lo que
        permite a los desarrolladores y equipos desplegar sitios y aplicaciones
        web r치pidamente y con menos complicaciones.
      </p>

      <Blogpost />
    </BaseLayout>
  </body>
</html>
