---
import "../styles/global.css";
import Header from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

const astro = "Astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{astro}</title>
  </head>
  <body>
    <Header />
    <hr />

    <h1>{astro} by Eva</h1>
    <h2>Mi primer sitio con Astro</h2>
    <Footer />

    <script>
      import "../scripts/menu";
    </script>
  </body>
</html>
